<div class="container-fluid">
  <h4 class="text-center mb-2 mt-2">Música</h4>
  <div class="row">
    <div class="col-md-6 col-sm-12 mt-2">
      <form class="mb-2">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroupArtista">Artista</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroupCancion">Cancion</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <button type="submit" class="btn btn-sm btn-success">Buscar</button>
      </form>
    </div>
    <div class="col-md-6 col-sm-12 mt-2">
      <div class="card border-success mb-3">
        <div class="card-header">Letra</div>
        <div class="card-body text-success">
          <h5 class="card-title">Nombre de la cancion</h5>
          <h6 class="card-subtitle">Artista</h6>
          <p class="card-text">Lyrics</p>
        </div>
      </div>
    </div>
  </div>
</div>
