<div class="container-fluid">
  <div class="row">
    <h4 class="mb-2 text-center"> TRABAJO PRACTICO 5 </h4>
    <div class="col-12 col-md-4">
      <button class="btn btn-primary mb-2 w-100" [routerLink]="['/traductor']">Traductor</button>
    </div>
    <div class="col-12 col-md-4">
      <button class="btn btn-danger mb-2 w-100" [routerLink]="['/noticias']">Noticias</button>
    </div>
    <div class="col-12 col-md-4">
      <button class="btn btn-warning mb-2 w-100" [routerLink]="['/autos']">Autos</button>
    </div>
    <div class="col-12 col-md-4">
      <button class="btn btn-dark mb-2 w-100" [routerLink]="['/qr']">QR</button>
    </div>
    <div class="col-12 col-md-4">
      <button class="btn btn-success mb-2 w-100" [routerLink]="['/ip']">Buscador IP</button>
    </div>
    <div class="col-12 col-md-4">
      <button class="btn btn-secondary mb-2 w-100" [routerLink]="['/conversor']">Conversor</button>
    </div>
    <div class="col-12 col-md-4">
      <button class="btn btn-secondary mb-2 w-100" [routerLink]="['/receta']">Recetas</button>
    </div>
  </div>
</div>
